<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap.min.css" />

    <link rel="stylesheet" href="../sidebars.css" />

  <body>
    <%- include('../partials/authNav.ejs'); -%>
   

    <div class="flex-shrink-0 p-3 text-bg-light" style="width: 30vh; height: 100vh;">
 
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
            American Government
          </button>
          <br>
          <div class="collapse" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><button type="button" class="btn btn-outline-dark">Principles of American Government</button></li>
              <br>
              <li><button type="button" class="btn btn-outline-dark">Systems of Government</button></li>
              <br>
              <li><button type="button" class="btn btn-outline-dark">Rights and Responsibilities</button> </li>

              <!-- <button type="button" class="btn btn-outline-dark">Recent History and Other Historical Information</button> -->
             
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            American History   
          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><button type="button" class="btn btn-outline-dark">Colonial Period and Independence</button></li>
              <br>
              <li><button type="button" class="btn btn-outline-dark">The Eighteen Hundreds</button></li>
              <br>
              <li><button type="button" class="btn btn-outline-dark">Recent History and Other Historical Information</button> </li>
              
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
            Symbols and Holidays
          </button>
          <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><button type="button" class="btn btn-outline-dark">Symbols of the United States of America</button> </li>
              <br>
              <li><button type="button" class="btn btn-outline-dark">Holidays of the United States of America</button></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    

   
   
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
