<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-end">

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" data-bs-toggle="tab" href="#about" aria-selected="false" role="tab">About</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="curriculum" data-bs-toggle="tab"  aria-selected="false" role="tab" tabindex="-1">Curriculum</a>
          </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="https://discord.gg/aMrNsTkx" aria-selected="false" role="button" >Community</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#signIn" aria-selected="true" role="tab" tabindex="-1">Sign in</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#register" aria-selected="false" role="tab" tabindex="-1">Get Started</a>
          </li>
        
      </ul>
    </nav>




      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="about" role="tabpanel">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade active show" id="about" role="tabpanel">
          <p></p>
        </div>
        <div class="tab-pane fade" id="community">
          <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
        </div>
        <div class="tab-pane fade" id="signIn">
            <div class="container-sm">
      
                <!-- Content here -->
          
                <p class="text-warning">
                  <h1 class="text-center">Sign in</h1>
                </p>
          
                <div class="form-group">
                  <label for="username" class="form-label mt-4">Username</label>
                  <input
                    type="username"
                    class="form-control"
                    id="username"
                    aria-describedby="usernameHelp"
                  />
          
            
                </div>
                <div class="form-group">
                  <label for="password" class="form-label mt-4">Password</label>
                  <input type="password" class="form-control" id="password" />
                </div>
          
                  <br>
                  <h1 class="text-center">
                  <button type="button" class="btn btn-success ">Log in</button>
                  </h1>
                </div>
                
              </div>
          
                    </div>
        </div>






        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="register" role="tabpanel">
              
    <div class="container-sm">
      
        <!-- Content here -->
  
        <p class="text-warning">
          <h1 class="text-center">Sign up for free</h1>
          <h4 class="text-center">Or <a href=""><h4 class="text-info">Sign in with your account</h4></a></h4>
        </p>
  
        <div class="form-group">
          <label for="username" class="form-label mt-4">Username</label>
          <input
            type="username"
            class="form-control"
            id="username"
            aria-describedby="usernameHelp"
          />
  
          <label for="email" class="form-label mt-4">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="form-group">
          <label for="password" class="form-label mt-4">Password</label>
          <input type="password" class="form-control" id="password" />
        </div>
  
        <div class="form-group">
          <label for="confirmpassword" class="form-label mt-4"
            >Confirm password</label
          >
          <input
            type="confirmpassword"
            class="form-control"
            id="confirmpassword"
          />
          <br>
          <h1 class="text-center">
          <button type="button" class="btn btn-success ">Register</button>
          </h1>
        </div>
        
      </div>
  
            </div>
      </div>



