<header><nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-end">
    <ul class="nav nav-pills">

      <li class="nav-item">
        <a class="nav-link"  href="curriculum">Curriculum</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://discord.gg/4EnteXbZYT">Community</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="signIn">Sign in</a>
      </li>
      
      <li class="nav-item">
        <a href="register"type="button" class="btn btn-success">Get Started</a>
      </li>
    </ul>
  </nav>
</header>